whisper.log
whisper.log.*
logs/
app.log
app.log.*
chunks/*
chunks/
models/*
models/
scripts/*
scripts/
queue/*
queue/
redis.conf
redis_data/*
redis_data/

node_modules/
__pycache__/
.env
.gitignore
.env
