whisper.log
whisper.log.*
supervisord.log
supervisord.log.*
app.log
app.log.*
gpu_watchdog.log
gpu_watchdog.log.*
chunks/*
chunks/
models/*
models/
scripts/*
scripts/
queue/*
queue/
redis.conf
redis_data/*
redis_data/

node_modules/
__pycache__/
.env